<header class="main-header">
    <div class="logo">
        <a href="../Home/Home.html" id="HomeLink" class="nav-item">새한문화사</a>
    </div>
    <nav class="main-nav">
        <a href="#" id="loginLink" class="nav-item">로그인</a>
        <a href="../Cartlist/Cartlist.html" class="nav-item">장바구니</a>
        <a href="../Orderlistpage/Orderlist.html" class="nav-item">주문 목록</a>
        <a href="../Noticelist/Noticelist.html" class="nav-item">공지</a>
        <a href="../Mypage/Mypage.html" class="nav-item">마이페이지</a>
    </nav>
</header>
<script src="./Topbar.js"></script>