body {
    font-family: 'Malgun Gothic', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 50px;
}

.logo a {
    color: #B87C4E;
    margin: 0;
    font-size: 24px;
}

.main-nav {
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-item:hover {
    color: #B87C4E;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 150px auto;
}

h1 {
    text-align: center;
    color: #B87C4A;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #B87C4A;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #A67043;
}

.error {
    color: red;
    margin-top: 1rem;
    text-align: center;
}

.nav {
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.item {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.item:hover {
    color: #B87C4E;
}

.bottom-container {
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 70px;
    padding-right: 70px;
    font-size: 13px;
    height: 70px;
}